.statistics {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px #777777;
  margin-top: 20px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: rgb(69, 168, 148);
  padding-top: 10px;
}

.statList {
  list-style: none;
  display: flex;
  padding: 0;
}

.item {
  flex: 1;
  padding: 15px 0px 15px 0px;
  text-align: center;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.percentage {
  font-size: 25px;
}
